/****************默认样式重置****************************/
body,div,img,span,a,h1,h2,h3,h4,h5,h6,ul,ol,pre,fieldset,li,input,blockquote,textarea,button,dl,dt,dd,body,pre,form,p,th,td,table,legend{ margin:0; padding:0;word-wrap: break-word; word-break:break-all; }
body{background:; margin:0 auto; font-size:14px; text-align:center;font-family:'宋体,Arial,sans-serif'; -webkit-text-size-adjust:none;}
a { text-decoration:none;}
a:hover {text-decoration: underline;}
img{ border:none; }
table{border-collapse:collapse; border-spacing:0;}/*表格的两边框合并为一条*/
address,caption,cite,code,dfn,em,strong,th,var{font-style:normal;font-weight:normal;}
ul,ol { list-style-type:none;}
address,caption,cite,code,dfn,em,strong,th,var {font-style:normal;font-weight:normal;}
caption,th { text-align:left;}
h1,h2,h3,h4,h5,h6 {font-size:100%; font-weight:normal;}
q:before,q:after { content:'';}
ol {list-style-type: decimal;}
input { vertical-align: middle;}
abbr,acronym { border:0; }


/****************常用样式**********************/
.fl{float:left; display:inline;}
.fr{float:right;}
.nowrap { white-space:nowrap;}